<!doctype html>
<meta http-equiv="refresh" content="180">
<title>ATB RB SCRIPT</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
<style></style>
<img src="static/atb.png" class="center">
<center><strong>Last update: TOD of Antharas is hardcoded</strong></center>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Time left</th>
            <th>Resp date GMT+2</th>
            <th>Drop</th>
        </tr>
    </thead>
    <tbody>
        {% for rb in rblist %}
        <tr>
            <td>{{ rb[0] }}</td>
            <td>{{ rb[1] }}</td>
            <td>{{ rb[2] }}</td>
            <td>{{ rb[3] }}</td>
            <td>{{ rb[4] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</html>